p {
  margin-bottom: 12px;
}

h1 {
  margin-bottom: 40px;
}

#root {
  display: grid;
  grid-template-columns: 40px fit-content(250px) 80px 720px 1fr;
}

.sidebar-container {
  grid-column: 2;
  margin-top: 84px;
}
ul.sidebar {
  position: sticky;
  top: 40px;
  list-style-type: none;
  padding: 0;

  li {
    margin-top: 6px;
    padding-left: 0;
  }

  ul {
    padding-left: 20px;
    list-style-type: none;

    li {
      margin-top: 0px;
      list-style-type: circle;
    }
  }

  a {
    color: var(--zinc-600);
    border: none;

    &:hover {
      color: var(--green);
      border-bottom: 1px solid var(--green);
    }
  }
}

.content {
  padding-top: 80px;
  padding-bottom: 200px;
  grid-column: 4;
}

.example {
  padding: 20px 36px;
  background-color: var(--zinc-100);
}

.code-preview {
  margin-top: 12px;

  .code-preview_controls {
    margin-left: 16px;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: 16px;
    line-height: 22px;
    padding: 0;
    margin-right: 16px;
    color: var(--zinc-600);
    font-weight: normal;
  }

  button.active {
    border-bottom: 4px solid var(--zinc-300);
  }
}
