/* COLORS */
:root {
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-150: #ececed;
  --zinc-200: #e4e4e7;
  --zinc-300: #d4d4d8;
  --zinc-400: #a1a1aa;
  --zinc-500: #71717a;
  --zinc-600: #52525b;
  --zinc-700: #3f3f46;
  --zinc-800: #27272a;
  --zinc-900: #18181b;
  --zinc-950: #09090b;
  --green: #567b00;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.625rem;
  font-family: "IBM Plex Sans", serif;
  font-weight: 300;
  color: var(--zinc-600);
}

.large {
  font-size: 20px;
  line-height: 28px;
}

/*
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

strong {
  font-weight: 500;
}

/* ELEMENTS */
a {
  color: var(--green);
  border-bottom: 1px solid var(--green);
  text-decoration: none;
  font-weight: inherit;

  &:hover {
    color: var(--green);
    border-bottom: 2px solid var(--green);
  }
}

h1,
h2 {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--zinc-700);
  font-weight: 600;
}

h1 {
  font-size: 46px;
  line-height: 52px;
}

h2 {
  font-size: 38px;
  line-height: 48px;
  margin-top: 60px;
  margin-bottom: 20px;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: var(--zinc-500);
  margin-top: 40px;
  margin-bottom: 16px;
}

ul {
  list-style-type: circle;
  padding-left: 1.5em;
}

li {
  padding-left: 8px;
}

pre {
  background: var(--zinc-100);
  border: 1px solid var(--zinc-300);
  border-radius: 5px;
  padding: 16px 24px;
  font-size: 12px;
  line-height: 16px;
}

code {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
}
